<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" routerLink="">
        <img src="./assets/dog.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Discover pets<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngFor="let option of itemsList">
            <li class="nav-item" *ngIf="option.show">
                <a class="nav-link"  routerLink="{{option.link}}">{{ option.text }}</a>
            </li>
        </ul>
    </div>
</nav>
