<!-- <div class="filter">
    <div class='row'>
        <div class='col-sm'>
            <select class="form-control">
                <option selected>Espécie</option>
                <option>Gato</option>
                <option>Cachorro</option>
                <option>Cavalo</option>
                <option>Boi</option>
            </select>
        </div>
        <div class='col-sm'>
            <select class="form-control">
                <option selected>Porte</option>
                <option>Pequeno</option>
                <option>Médio</option>
                <option>Grande</option>
            </select>
        </div>
        <div class='col-sm'>
            <select class="form-control">
                <option selected>Categoria</option>
                <option>Achado</option>
                <option>Perdido</option>
                <option>Adoção</option>
            </select>
        </div>
        <div class='col-sm'>
            <select class="form-control">
                <option selected>Sexo</option>
                <option>Macho</option>
                <option>Fêmea</option>
            </select>
        </div>
    </div>
</div> -->
<div class="filter">
    <div class='row'>
        <div class='col-sm'>
            <input [(ngModel)]="selectedEspecie"
            [typeahead]="especies"
            typeaheadWaitMs="500"
            class="form-control"
            placeholder="Espécie">
        </div>
        <div class='col-sm'>
            <input [(ngModel)]="selectedPorte"
            [typeahead]="portes"
            typeaheadWaitMs="500"
            class="form-control"
            placeholder="Porte">
        </div>
        <div class='col-sm'>
            <input [(ngModel)]="selectedCategoria"
            [typeahead]="categorias"
            typeaheadWaitMs="500"
            class="form-control"
            placeholder="Categoria">
        </div>
        <div class='col-sm'>
            <input [(ngModel)]="selectedSexo"
            [typeahead]="sexos"
            typeaheadWaitMs="500"
            class="form-control"
            placeholder="Sexo">
        </div>
        <div class='col-sm'>
            <button type="button" class="btn btn-warning" (click)="filtraPetsClick()">Filtrar</button>
        </div>
    </div>
</div>

