.formularioCadastro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .titulocadastro {
      padding-top: 15px;
      padding-bottom: 5px;
      text-align: center;

    img {
        width: 72px;
        height: 72px;
    }
  }
  
  .formcadastro {
    width: 90%;
    max-width: 600px;
    margin: auto;

    .is-invalid {
        background-color: #ffd0c0 ;
    }

    .is-invalid-text {
        color: red;
    }
}

