.cadastro-user {
    
    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    
    .titulocadastro {
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
        
        img {
            width: 72px;
            height: 72px;
        }
    }
}

