<div class="container">
  <!-- <app-pet-forms></app-pet-forms> -->
  <div class="petTitle">
      <h1> {{ petForm.get('nome').value }} </h1>
    </div>
    <form class="form-row petContent" [formGroup]="petForm">
      <div class="col-md-7 petDivPhoto">
          <!-- <app-drag-n-drop-image></app-drag-n-drop-image> -->
          <div class="preview-image-container" style="cursor: default;" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" #imagePreview>
            <input type="file" name="File" id="File" class="image-url form-control" accept="image/*" (change)="readURL($event)" style="display:none" #previewFile>
            <div class="preview-image-dummy"></div>
            <img class="preview-image-url" [src]=" imageSrc || '' " alt="your image">
            <div class="preview-image-instruction" style="background-color: inherit; cursor: default;">
              <button class="preview-image-btn-browse btn btn-primary" (click)="previewFile.click()">Inserir Imagem</button>
              <p>ou arraste a imagem aqui.</p>
            </div>
          </div>
      </div>
      <div class="col-md-5 petInfo">
        <div class="form-group row">
            <label for="staticName" class="col-sm-2 col-form-label"><strong>Nome:</strong></label>
          <div class="col-sm-10  m-auto">
            <input type="text" class="form-control form-control-sm" id="staticName" placeholder="Ex: Rex" formControlName="nome">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEspecie" class="col-sm-3 col-form-label"><strong>Espécie:</strong></label>
          <div class="col-sm-9 m-auto">
            <input type="text" class="form-control form-control-sm" id="staticEspecie" placeholder="Ex: Cachorro" formControlName="especie">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticPorte" class="col-sm-2 col-form-label"><strong>Porte:</strong></label>
          <div class="col-sm-10 m-auto">
            <select type="text" class="form-control form-control-sm" id="staticPorte" formControlName="porte">
              <option value="" disabled selected>Escolha o porte do Pet</option>
              <option>Pequeno</option>
              <option>Médio</option>
              <option>Grande</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticSexo" class="col-sm-2 col-form-label"><strong>Sexo:</strong></label>
          <div class="col-sm-10 m-auto">
            <select class="form-control form-control-sm" id="staticSexo" formControlName="macho">
                <option value="" disabled selected>Escolha o sexo do Pet</option>
              <option [value]="true">Macho</option>
              <option [value]="false">Fêmea</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticStatus" class="col-sm-2 col-form-label"><strong>Objetivo:</strong></label>
          <div class="col-sm-10 m-auto">
            <select class="form-control form-control-sm" id="staticStatus" formControlName="objetivo">
              <option value="" disabled selected>Escolha o objetivo do Pet</option>
              <option value="DOACAO" >Doação</option>
              <option value="ACHADO" >Achado</option>
              <option value="PERDIDO" >Perdido</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticCategoria" class="col-sm-2 col-form-label"><strong>Data:</strong></label>
          <div class="col-sm-10 m-auto">
            <input type="text" class="form-control form-control-sm" id="staticCategoria" placeholder="Data Encontrado" formControlName="dataPet">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticCategoria" class="col-sm-3 col-form-label"><strong>Localização:</strong></label>
          <div class="col-sm-9 m-auto">
            <input type="text" class="form-control form-control-sm" id="staticCategoria" placeholder="Local Encontrado" formControlName="localPet">
          </div>
        </div>
      </div>
      <div class="col-md-12 petDescription">
        <label for="staticDescricao"><strong>Descrição:</strong></label>
        <textarea class="form-control" id="staticDescricao" rows="4" formControlName="descricao"></textarea>
      </div>
    </form>    
  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="ClickAddPet(petForm.value); petForm.value='' ">Adicionar</button>
  </div>
  <p>{{ petForm.value | json }}</p>
</div> 
