<!-- <div class="preview-image-container" style="cursor: default;" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
  <input type="file" name="File" id="File" class="image-url form-control" accept="image/*" (change)="readURL($event)" style="display:none" formControlName="imagem" #previewFile>
  <div class="preview-image-dummy"></div>
  <img class="preview-image-url" [src]=" imageSrc ">
  <div class="preview-image-instruction">
    <button class="preview-image-btn-close btn btn-sm btn-primary" *ngIf="!showBtn" (click)="unPreviewFile()">X</button>
    <button class="preview-image-btn-browse btn btn-primary" (click)="previewFile.click()" *ngIf="showBtn">Inserir Imagem</button>
    <p *ngIf="showBtn">ou arraste a imagem aqui.</p>
  </div>
</div> -->