<form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">Espécie</label>
        <select id="inputState" class="form-control">
          <option selected>Escolha...</option>
          <option>Gato</option>
          <option>Cachorro</option>
          <option>Cavalo</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Porte</label>
        <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Pequeno
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> Médio
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> Grande
            </label>
          </div>
        </div>
        
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Categoria</label>
        <div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Achado
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off"> Abandonado
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off"> Adoção
            </label>
          </div>
        </div>
        
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Localização</label>
        <iframe class="api-location" width=100% height=80% src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=ilpea+do+brasil&amp;sll=-14.093957,-50.449219&amp;sspn=67.156049,158.027344&amp;ie=UTF8&amp;ll=-26.320537,-48.839979&amp;spn=0.009617,0.012875&amp;z=15&amp;output=embed"></iframe>        
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="inputAddress2">Endereço</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Rua João Collin, 324, próx. terminal">
      </div>
      <div class="form-group col-md-5">
        <label for="inputCity">Cidade</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Joinville">
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-primary botaoIndex">Pesquisar</button>
      </div>
    </div>
</form>