<div class="row footer">
  <div class="col-md-4">        
    <p class=header><strong>Apoiadores</strong></p>
    <p>Conta Azul</p>
    <p>ASAAS</p>
    <p>Becomex</p>
    <p>Treasy</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique ex et tempus porta. Donec rhoncus elementum quam, at blandit neque facilisis a. Suspendisse vitae arcu tellus. Integer commodo ipsum velit, eu ornare neque gravida non. Ut semper egestas magna eu bibendum.</p>
  </div>
</div>