.petContent {
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f9f9f9;
}

.petDivPhoto{
    padding: 0px;

    .petPhoto {
        width: 100%; 
        height: 100%;
        margin: 0;
        display: block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}

.petInfo {
    text-align: left;

    div {
        margin-bottom: 10px;
    }
}

.petTitle {
    text-align: center;
    font-size: 250px;
}

.petDescription {
    padding: 15px;
    margin-top: 10px;
}

button {
    margin-bottom: 10px;
}

input {
    padding-top: 2px;
}