p {
  margin-bottom: 0;
  margin-left: 20px;

  text-align: justify;
  
  .header {
    padding-bottom: 10px;
  }
  
  :last-child {
    margin-bottom: 0;
  }
  
}

.row {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 0.5%;
}

.githubIcon {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;

  button {
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
  }
}

ul {
  list-style-type: none;
  margin-left: 20px;
  padding-inline-start: 15px;

  li {
    .linkApoiadores {
      padding: 0;
      border: none;
      background: none;
      outline: none;
      color: #999;
      margin: auto;
      font-size: 1rem;
    }
  }
}
    
@media (max-width: 576px) {
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-left: 0px;
  }
  p {
    text-align: center;
    margin: 0px;
  }
}