
<nav class="navbar navbar-expand-lg">
  <div class="row">
    <div class="col-sm-2">        
      <p class=header><strong>Apoiadores</strong></p>
      <p><a href="https://www.asaas.com">Asaas</a></p>
      <p><a href="https://becomex.com.br">Becomex</a></p>
      <p><a href="https://contaazul.com">Conta Azul</a></p>
      <p><a href="https://www.treasy.com.br">Treasy</a></p>
    </div>
    <div class="col-sm-6">
      <p class="header"><Strong>Sobre</Strong></p>
      <p>Somos o 🍟b4t4t4c0mb4c0n🥓 e vamos ajudar você a encontrar, doar e adotar um pet!</p>
    </div>
    <div class="col-sm-2">
      <p class="header"><Strong>Pessoas</Strong></p>
      <p><a href="https://github.com/eberjoe">/eberjoe </a></p>
      <p><a href="https://github.com/JimChie">/JimChie</a></p>
      <p><a href="https://github.com/klimber">/klimber</a></p>
      <p><a href="https://github.com/marcoayamada">/marcoayamada</a></p>
      <p><a href="https://github.com/RuanVFachini">/RuanVFachini</a></p>
    </div>
    <div class="col-sm-2">
      <p class="header"><Strong>Projeto <i class="fa fa-github-alt" aria-hidden="true"></i></Strong></p>
      <p><a href="https://github.com/academiadev-jlle/backend-batatacombacon">/backend</a></p>
      <p><a href="https://github.com/academiadev-jlle/frontend-batatacombacon">/frontend</a></p>
    </div>
  </div>
</nav>
