.footer {
  padding-top: 20px;
  color: #999;
  text-align: left;
  background-color: #f9f9f9;
  position: relative;
  left: 0;
  bottom: 0;
  
  p {
    margin-bottom: 0;
    margin-left: 20px;

    text-align: justify;
    
    .header {
      padding-bottom: 10px;
    }
    
    :last-child {
      margin-bottom: 0;
    }
    
  }
  
  .row {
    padding-left: 10%;
    padding-right: 10%;
    
    margin-bottom: 2%;
  }

  .githubIcon {
    text-align: center;
    
    div{
      display: flex;
      align-items: center;

      button {
        padding: 0;
        border: none;
        background: none;
        vertical-align: middle;
      }
    }
  }
}