<nav class="navbar navbar-expand-lg navbar-light">
  <div class="row">
    <div class="col-sm-2">        
      <p class=header><strong>Apoiadores</strong></p>
      <ul>
        <li><button class="btn-link btn-sm linkApoiadores" (click)="redirectToAsaas()">Asaas</button></li>
        <li><button class="btn-link btn-sm linkApoiadores" (click)="redirectToBecomex()">Becomex</button></li>
        <li><button class="btn-link btn-sm linkApoiadores" (click)="redirectToContaAzul()">ContaAzul</button></li>
        <li><button class="btn-link btn-sm linkApoiadores" (click)="redirectToTreasy()">Treasy</button></li>
      </ul> 
    </div>
    <div class="col-sm">
      <p class="header"><Strong>Sobre:</Strong></p>
      <p>Somos o desenvolvedores do grupo b4t4t4c0mb4c0n para o Projeto PetCodes da Academia Dev de Joinville 2018 com o objetivo de desenvolver as habilidades de programação através de um projeto de WebApp para Busca, Doação, e Adoção de Pets.</p>
    </div>
    <div class="col-sm-1 githubIcon">
      <strong>Source:</strong>
      <div>
        <button (click)="goGitWiki()"><fa-icon class="fa-2x" [icon]="faGithub"></fa-icon></button>
      </div>
    </div>
  </div>
</nav>
