.card-list-pet {
  margin-bottom: 10px; 

  p {
    margin-bottom: 5px;
  }
  
  .card {
    margin-bottom: 15px;
    border: 0px;
  }
  
  .card-body {
    background-color: #f9f9f9;
    border-color: transparent;
  }
  
  .maxv {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
    display: flex;

    .card-img-top{
      width: 300px;  /* Or whatever */
      height: 300px; /* Or whatever */
      margin: auto;  /* Magic! */
    }

  }

}

@media (max-width: 576px) {
  .maxv {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    display: flex;

    .card-img-top{
      width: 200px;  /* Or whatever */
      height: 200px; /* Or whatever */
      margin: auto;  /* Magic! */
    }

  }
}