<div class="container">
    <div class="row">
        <div *ngFor="let pet of petsFromService" class="card col-md-4">
            <div class="card-body m-auto">
              <div class="maxv">
                <img class="card-img-top" [src]="pet.photoLink"  (error)="errorHandler($event)" alt="Card image cap">
              </div>
              <div class="info">
                  <p class="card-text"><app-badge-status class="" [childObjetivo]="pet.objetivo"></app-badge-status></p>  
                  <h5 class="card-title">{{ pet.nome }}</h5>
                  <p class="card-text">{{ pet.localPet.uf }} - {{ pet.localPet.cidade }}</p>
                  <p class="card-text">{{ pet.localPet.rua }}</p>
                  <a routerLink="/pet/{{pet.id}}" class="btn btn-info btn-sm text-center mt-auto ">+ informações</a>
              </div>
            </div> 
          </div>
     </div>
</div>
 