<div class="text-center signin-petsave" >
  
  <form class="form-signin"
  [formGroup]="loginUser"
  (submit)="submitClick($event)">

    <img class="mb-4 rounded" src="./assets/dog.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3">Salve um PET!</h1>
  
    <div class="form-row mb-2">
      
      <div class="form-group col-md-12 mb-2">
        <input class="form-control" 
          placeholder="Email"
          formControlName="email"
          autofocus
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors">
          <div class= "is-invalid-text" *ngIf="f.email.errors?.required">Preencha o email</div>
          <div class= "is-invalid-text" *ngIf="f.email.errors?.email">Digite um email válido</div>
        </div>
      </div>
      
      <div class="form-group col-md-12 mb-2">
        <input
          placeholder="Senha"
          type="password" 
          class="form-control" 
          formControlName="senha"
          [ngClass]="{ 'is-invalid': submitted && f.senha.errors }">
        <div *ngIf="submitted && f.senha.errors">
          <div class= "is-invalid-text" *ngIf="f.senha.errors?.required">Coloque uma senha</div>
        </div>
      </div>
      <button 
      type="submit" 
      class="btn-entrar btn btn-primary btn-block">Entrar</button>
    </div>
    <app-alert></app-alert>
  </form>
  <div class="col-md-12 d-block mb-5">
    <button class="btn-link btn-sm btnEsqueceuSenha" (click)="openEsqueceuSenha()">Esqueceu Senha</button>
    <button class="btn-link btn-sm btnCadastro" (click)="redirectToCadastro()">Cadastrar</button>
  </div> 
</div>
