<form [formGroup]="petForm" (submit)="submitPet($event)">
  <div class="form-row petContent">
    <div class="petInfo">

      <div class="form-group row">
        <label for="staticName" class="col-sm-3 col-form-label"><strong>Nome:</strong></label>
        <div class="col-sm-9 m-auto">
          <input type="text" class="form-control form-control-sm" id="staticName"
              formControlName="nome"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"> 
          <div *ngIf="submitted && f.nome.errors">
            <div class= "is-invalid-text" *ngIf="f.nome.errors?.required">Preencha o nome</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEspecie" class="col-sm-3 col-form-label"><strong>Espécie:</strong></label>
        <div class="col-sm-9 m-auto">
          <select 
          class="form-control" 
          id="staticEspecie" 
          formControlName="especie" 
          autofocus
          [ngClass]="{ 'is-invalid': submitted && f.especie.errors }">
          <option [value]="" disabled selected>Selecione...</option>
          <option [value]="item.especie" *ngFor="let item of especies">{{ item.descricao }}</option>
          </select>
          <div *ngIf="submitted && f.especie.errors"> 
            <div class= "is-invalid-text" *ngIf="f.especie.errors?.required">Selecione a espécie</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticPorte" class="col-sm-3 col-form-label"><strong>Porte:</strong></label>
        <div class="col-sm-9 m-auto">
          <select 
          class="form-control" 
          id="staticPorte" 
          formControlName="porte" 
          autofocus
          [ngClass]="{ 'is-invalid': submitted && f.porte.errors }">
          <option [value]="" disabled selected>Selecione...</option>
          <option [value]="item.porte" *ngFor="let item of portes">{{ item.descricao }}</option>
          </select>
          <div *ngIf="submitted && f.porte.errors">
            <div class= "is-invalid-text" *ngIf="f.porte.errors?.required">Selecione o porte</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticSexo" class="col-sm-3 col-form-label"><strong>Sexo:</strong></label>
        <div class="col-sm-9 m-auto">
          <select 
          class="form-control" 
          id="staticSexo" 
          formControlName="sexo" 
          autofocus
          [ngClass]="{ 'is-invalid': submitted && f.sexo.errors }">
          <option [value]="" disabled selected>Selecione...</option>
          <option [value]="item.sexo" *ngFor="let item of sexos">{{ item.descricao }}</option>
          </select>
          <div *ngIf="submitted && f.sexo.errors">
            <div class= "is-invalid-text" *ngIf="f.sexo.errors?.required">Selecione o sexo</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticStatus" class="col-sm-3 col-form-label"><strong>Objetivo:</strong></label>
        <div class="col-sm-9 m-auto">
          <select 
          class="form-control" 
          id="staticStatus" 
          formControlName="objetivo" 
          autofocus
          [ngClass]="{ 'is-invalid': submitted && f.objetivo.errors }">
          <option [value]="" disabled selected>Selecione...</option>
          <option [value]="item.objetivo" *ngFor="let item of objetivos">{{ item.descricao }}</option>
          </select>
          <div *ngIf="submitted && f.objetivo.errors">
            <div class= "is-invalid-text" *ngIf="f.objetivo.errors?.required">Selecione um objetivo</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
          <label for="cepNum" class="col-sm-3 col-form-label"><strong>Cep:</strong></label>
          <div class="col-sm-9 m-auto">
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" id="cepNum"
                formControlName="cepNum"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.cepNum.errors }" (keyup)="keyUp($event)">
                <span class="cepLoading"><i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingCep"></i></span>
            </div>
            <input type="text" class="form-control form-control-sm" id="cepRua" placeholder="rua"
                formControlName="cepRua"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.cepRua.errors }" >
            <div *ngIf="submitted && f.cepRua.errors">
              <div class= "is-invalid-text" *ngIf="f.cepRua.errors?.required">Preencha a rua</div>
            </div>
            <input type="text" class="form-control form-control-sm" id="cepBairro" placeholder="bairro"
                formControlName="cepBairro"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.cepBairro.errors }" >
            <div *ngIf="submitted && f.cepBairro.errors">
              <div class= "is-invalid-text" *ngIf="f.cepBairro.errors?.required">Preencha o bairro</div>
            </div>
            <input type="text" class="form-control form-control-sm" id="cepNumero" placeholder="numero"
                formControlName="cepNumero"
                autofocus>
            <input type="text" class="form-control form-control-sm" id="cepCidade" placeholder="cidade"
                formControlName="cepCidade"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.cepCidade.errors }" >
            <div *ngIf="submitted && f.cepCidade.errors">
              <div class= "is-invalid-text" *ngIf="f.cepCidade.errors?.required">Preencha a cidade</div>
            </div>
            <input type="text" class="form-control form-control-sm" id="cepUf" placeholder="uf"
                formControlName="cepUf"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.cepUf.errors }" >
            <div *ngIf="submitted && f.cepUf.errors">
              <div class= "is-invalid-text" *ngIf="f.cepUf.errors?.required">Preencha a UF</div>
            </div>
            <input type="text" class="form-control form-control-sm" id="cepComplemento" placeholder="complemento"
                formControlName="cepComplemento"
                autofocus>
            <input type="text" class="form-control form-control-sm" id="cepReferencia" placeholder="referencia"
                formControlName="cepReferencia"
                autofocus>
          </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="staticDescricao"><strong>Descrição:</strong></label>
    <div class="col-sm-9 m-auto">
      <textarea formControlName="localPet" class="form-control form-control-sm" id="staticDescricao" rows="4" formControlName="descricao"></textarea>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
  </div>
</form>