<!-- <p>{{pet | json}}</p> -->
<div class="container">
    <div class="petTitle">
        <h1>{{ pet.nome }}</h1>
    </div>
    <div class="row petContent">
        <div class="col-md-7 petDivPhoto">
            <img src="{{ pet.imagem }}" class="petPhoto">
        </div>
        <div class="col-md-5 petInfo">
            <div>
                <span><strong>Nome: </strong></span>
                <span>{{ pet.nome }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
            <div>
                <span><strong>Espécie: </strong></span>
                <span>{{ pet.especie }}</span>
            </div>
        </div>
        <div class="col-md-12 petDescription">
            <label><strong>Descrição: </strong></label>
            <p>{{ pet.especie }}</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="goBack()">Voltar</button>
</div>