.petContent {
    margin-left: auto;
    margin-right: auto;

    .petDivPhoto {
        background-color: #e9c46a;
        text-align: center;
        
        .pet-image-url {
            max-width: 90%;
        }
    }

    .petInfo, .petLocal, .petDivPhoto {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
       
        .row {
            margin: 0px;
        }
    }
    
    .petInfo {
        background-color: #e9c46a;
    }
    
    .petLocal {
        background-color: #e9c46a;
    }
}

.btnDiv {
    margin-left: 18px;
    margin-right: 18px;

    .btnVoltar {
        padding: 0px;
        margin-top: auto;
        margin-bottom: auto;

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .btnShare {
        padding: 0px;

        share-buttons {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .petDivPhoto {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btnShare {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}
