<div class="container formularioCadastro">
  <form class="formcadastro"
    [formGroup]="usuario"
    (submit)="submitClick($event)">
    
    <div class="form-row mb-2">
      <div class="form-group col-md-12 mb-2">
        <label for="inputnome">Nome</label>
        <input class="form-control" 
        formControlName="nome"
        autofocus
        [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">  
        <div *ngIf="submitted && f.nome.errors">
          <div class= "is-invalid-text" *ngIf="f.nome.errors?.required">Preencha o nome</div>
        </div>
      </div>     
      <div class="form-group col-md-12 mb-2">
        <label for="inputemail">E-mail</label>
        <input class="form-control" 
        formControlName="email"
        autofocus
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors">
          <div class= "is-invalid-text" *ngIf="f.email.errors?.required">Preencha o email</div>
          <div class= "is-invalid-text" *ngIf="f.email.errors?.email">Digite um email válido</div>
        </div>
      </div>
      <div class="form-group col-md-12 mb-2">
        <label for="inputsenha">Senha</label>
        <input
        type="password" 
        class="form-control" 
        formControlName="senha"
        [ngClass]="{ 'is-invalid': submitted && f.senha.errors }">
        <div *ngIf="submitted && f.senha.errors">
          <div class= "is-invalid-text" *ngIf="f.senha.errors?.required">Coloque uma senha</div>
          <div class= "is-invalid-text" *ngIf="f.senha.errors?.minlength">Ao menos 6 caracteres</div>
        </div>
      </div>
      <div class="form-group col-md-12 mb-3">
        <label for="inputrepetirsenha">Confirmar senha</label>
        <input
        type="password" 
        class="form-control" 
        formControlName="confirmSenha"
        [ngClass]="{ 'is-invalid': submitted && f.confirmSenha.errors }">
        <div *ngIf="submitted && f.confirmSenha.errors">
          <div class= "is-invalid-text" *ngIf="f.confirmSenha.errors?.ConfirmPassword">A senha não é a mesma</div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <button class="btn btn-lg btn-primary btn-block" 
        type="submit" 
        class="btn btn-primary btn-block">{{ btnText }}</button>
      </div>
    </div>
  </form>
</div>