.formularioCadastro {
    display: -ms-flexbox;	
    display: flex;	
    -ms-flex-align: center;	
    align-items: center;		
   	
  .formcadastro {	
    width: 90%;	
    max-width: 600px;	
    margin: auto;

    .is-invalid {
         background-color: #ffd0c0 ;
    }

    .is-invalid-text {
        color: red;
    }
    
    }
}

