@import './node_modules/@ngx-share/button/themes/circles/circles-dark-theme.scss';
//https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 //paleta de cores

$paddingHeight: 50px;

html {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: $paddingHeight;
}

.footer-fixed {
  margin: auto;
  padding-top: 20px;
  color: #0000009c;
  text-align: left;
}

@media (max-width: 576px) { 
  .footer-fixed {
    position: initial;
    bottom: auto;
  }
   main {
    padding-bottom: 0;
  }
}

html, body { overflow-x: hidden; }

.main.container {
  padding: 60px 15px 0;
}

.botaoIndex {
  margin-top: 2rem;
}

.user-form {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

// buttons style
$info-color: #2a9d8f;
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-info {
  background: $info-color;
  border-color: $info-color;
  color: #ffffff;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info { }

.btn-info:active, .btn-info.active {
  background: #007299;
  box-shadow: none;
}

/* Loading app */
.loader-lds {
  font-size:400%;
  position:absolute;
  top: 50%;
  left: 50%;
  size: 400%;
  
}


