@import './node_modules/@ngx-share/button/themes/circles/circles-dark-theme.scss';

$paddingHeight: 10px;

html {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: $paddingHeight;
}

.footer-fixed {
  margin: auto;
  padding-top: 20px;
  color: #999;
  text-align: left;
  background-color: #f9f9f9;
  position: initial;
  bottom: auto;
}

@media (max-height: 450px) { 
  .footer-fixed {
    position: initial;
    bottom: auto;
  }

  main {
    padding-bottom: 0;
  }
}

html, body { overflow-x: hidden; }

.main.container {
  padding: 60px 15px 0;
}

.botaoIndex {
  margin-top: 2rem;
}

.user-form {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

/* Loading app */
.lds-grid {
  display: inline-block;
  position:absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
