<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let pet of petListUser" title="{{ pet.nome }}" id="{{ pet.id }}">
    <ng-template ngbPanelContent>
        <div class="container">
            <div class="row">
              <div class="col">
                <img src="{{ pet.imagem }}" alt="pet">
              </div>
              <div class="col">
                <p><strong>Espécie: </strong>{{ pet.especie }}</p>
                <p><strong>Objetivo: </strong>{{ pet.objetivo }}</p>
                <p><strong>Porte: </strong>{{ pet.porte }}</p>
                <p><strong>Sexo: </strong>{{ pet.sexo }}</p>
                <p><strong>Local: </strong>{{ pet.localPet }}</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm">
                  <button class="btn btn-primary edit-btn" (click)="infoPet(pet.id)"><i class="fa fa-edit"></i> Editar</button>
                  <button class="btn btn-danger" (click)="deletePet(pet.id)"><i class="fa fa-trash"></i> Apagar</button>
                </div>
              </div>
          </div>      
    </ng-template>
  </ngb-panel>
</ngb-accordion>
